  
  .bg-one {
    background-color: transparent;
  }
  
  .bg-two {
    background-color: rgb(38, 42, 45);
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
  
  .bg-three {
    background-color: #71717a;
    color: #ffffff;
  }

  .iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
	
  }

  body {
    width: 96%;
    margin: 40 auto;
    font-size: 30px;
	background-color: rgb(38, 42, 45);
    color: #ffffff;

  }
  
  p {
    line-height: 1.4;
  }
  
  a {
    outline-color: transparent;
  }
  
  a:link {
    color: #ffffff;
    text-decoration: none;
    background: transparent;
  }
  
  a:visited {
    color: #5d96ff;
    text-decoration: none;
    background: transparent;
  }
  
  a:focus {
    color: #ffffff;
    text-decoration: none;
    background: transparent;
  }
  
  a:hover {
    color: #0084ff;
    text-decoration: none;
    background: transparent;
  }
  
  a:active {
    color: #00ff15;
    text-decoration: none;
    background: transparent;
  }

  .grid-container > div {
    background-color: rgb(38, 42, 45);
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  } 

  .grid-container {
    display: grid;
    grid-template-columns: 25% 25% auto auto;
    gap: 40px;
    background-color:  rgb(38, 42, 45);
    padding: 10px;
  }
  .containers > span {
    background-color: #3b4d3c;
    color: #dce014;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
  
  