  
  .bg-one {
    background-color: transparent;
  }
  
  .bg-two {
    background-color: rgb(38, 42, 45);
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
  
  .bg-three {
    background-color: #71717a;
    color: #ffffff;
  }

  .iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

nav {
	text-align: center;
}

    nav ul {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    }
    
    nav li {
      display: inline; /* Make list items horizontal */
      padding: 0 10px; /* Add some spacing between items */
    }
    
    nav li a {
      text-decoration: none; /* Remove underlines */
      color: black; /* Set link color */
    }

  body {
    width: 90%;
    margin: 40px auto;
    font-size: 30px;
	  background-color: rgb(38, 42, 45);
    color: #ffffff;

  }
  
  /* on h1 tag just add margin:0 auto; */ 
  h1 { color: white; font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin:0 auto;
  } 
 

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  p {
    line-height: 1.4;
  }
  
  a {
    outline-color: transparent;
  }
  
  a:link {
    color: #ffffff;
    text-decoration: none;
    background: transparent;
  }
  
  a:visited {
    color: #5d96ff;
    text-decoration: none;
    background: transparent;
  }
  
  a:focus {
    color: #ffffff;
    text-decoration: none;
    background: transparent;
  }
  
  a:hover {
    color: #0084ff;
    text-decoration: none;
    background: transparent;
  }
  
  a:active {
    color: #00ff15;
    text-decoration: none;
    background: transparent;
  }

  .grid-container > div {
    background-color: rgb(38, 42, 45);
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  } 

  .grid-container {
    display: grid;
    grid-template-columns: 25% 25% auto auto;
    gap: 40px;
    background-color:  rgb(38, 42, 45);
    padding: 10px;
  }
  .containers > span {
    background-color: #3b4d3c;
    color: #dce014;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
  
  